@font-face {
    font-family: "Mermaid Swash Caps";
    src: url("../fonts/Mermaid_Swash_Caps_Bold_700.ttf");
}

@font-face {
    font-family: "Mermaid";
    src: url("../fonts/Mermaid_Bold_700.ttf");
}

@font-face {
    font-family: "Work Sans Regular";
    src: url("../fonts/WorkSans-Regular.ttf");
}

@font-face {
    font-family: "Work Sans Medium";
    src: url("../fonts/WorkSans-Medium.ttf");
}

@font-face {
    font-family: "Work Sans SemiBold";
    src: url("../fonts/WorkSans-SemiBold.ttf");
}

@font-face {
    font-family: "Work Sans Bold";
    src: url("../fonts/WorkSans-Bold.ttf");
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --color-1: #00373b;
    --color-2: #10a3ac;
    --color-3: #faa350;
    --color-4: #000000;
    --color-5: #737373;
    --color-6: #ffffff;

    --bg-color1: #ffffff;
    --bg-color2: #fffaf6;
    --bg-color3: #f5fafb;

    --h1-font-family: "Mermaid Swash Caps", Georgia, serif;
    --h2-font-family: "Work Sans SemiBold", Arial, sans-serif;
    --h3-font-family: "Work Sans SemiBold", Arial, sans-serif;
    --h4-font-family: "Work Sans SemiBold", Arial, sans-serif;
    --p-font-family: "Work Sans Regular", Arial, sans-serif;
    --button-font-family: "Work Sans SemiBold", Arial, sans-serif;

    --button-color: #faa350;
    --button-color-hover: #f27400;

    --button-box-shadow: 0px 8px 16px 0px rgba(201, 114, 31, 0.2);
    --button-box-shadow-hover: 0px 8px 16px 0px rgba(201, 114, 31, 0.4);
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    font-family: var(--h1-font-family);
}

.search {
    height: 40px;
}

.flex {
    display: flex;
}

.icon_gap {
    margin-right: 10px;
}

#global-menu-list a {
    color: var(--color-1);
}

.mobile {
    content-visibility: hidden;
}

#global-nav {
    grid-area: global_nav;
    display: grid;
    grid-template-areas: "logo . menu";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 70px auto;
    grid-column-gap: 16px;
    align-items: center;
    background-color: var(--bg-color1);
    border-bottom: 3px solid var(--color-2);
}

#global-menu-list {
    grid-area: menu;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    /* margin-right: auto; */
    width: auto;
}

#footer-icons {
    padding-top: 1%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    /* margin-right: auto; */
    width: auto;
}

ul {
    margin-right: 3rem;
}

li {
    font-family: var(--h3-font-family);
    font-size: 0.95rem;
    /* padding-left: 2rem; */
    padding-right: 2rem;
    list-style-type: none;
    white-space: nowrap; /* so that the words in li will not wrap and will always be in one line */
    align-self: center;
}

#logo_container {
    grid-area: logo;
    justify-self: center;
    /* width: 16%; */
    margin-top: 5%;
    margin-bottom: 4%;
}

#logo2 {
    /* grid-area: logo; */
    height: 35px;
    box-shadow: none;
    margin-bottom: 0rem;
}

footer {
    height: 70px;
    border-top: 3px solid var(--color-2);
}

@media (max-width: 800px) {
    #global-nav {
        grid-area: global_nav;
        display: grid;
        grid-template-areas: "logo . menu";
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 16px;
        align-items: center;
    }

    #global-menu-list {
        flex-wrap: wrap;
        column-gap: 1rem;
        row-gap: 0.5rem;
    }

    .button1-container {
        position: relative;
        width: 170px;
        height: 40px;
        margin-left: 0;
        margin-right: 4rem;
        margin-top: 2rem;
        /* margin-bottom: 1.5rem; */
        border: black solid 1.5px;
    }

    ul {
        margin-right: 0;
    }
    li {
        padding-right: 0;
    }

    .desktop {
        content-visibility: hidden;
    }

    .mobile {
        content-visibility: visible;
    }
}

@media (max-width: 480px) {
    #global-nav {
        grid-area: global_nav;
        display: grid;
        grid-template-areas: "logo . menu";
        grid-template-columns: 1fr 0.02fr 1fr;
        grid-column-gap: 16px;
        align-items: center;
    }
}
